---
import BaseLayout from '../../layouts/BaseLayout.astro';

import ContactCTA from '../../components/ContactCTA.astro';
import Hero from '../../components/Hero.astro';
---

<BaseLayout title="About me | Busch Franco" description="Meet Franco Busch, a software and web developer from Buenos Aires with experience in Dynamics 365, PHP, JavaScript, and more. Discover my background, skills, and passion for technology">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About Me"
				tagline="Let me tell you a bit more about myself and my experience."
			>
				<img
					width="1553"
					height="873"
					src="/assets/about.webp"
					alt="Image about developer"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Experience</h2>
				<div class="content">
					<p>
						My name is Franco Busch, from Buenos Aires, Argentina. My professional focus is on web development, programming, and new technologies. 
						Since childhood, I have had an affinity for computing, recognizing it as a crucial gateway to the professional world and global development.
					</p>
					<p>
						<br>
						I worked as a software developer, where I was involved in creating a financial management ERP application using Microsoft Dynamics 365, with languages such as X++ and C#, among others. I was part of a development team and we also closely collaborated with a testing team in Brazil, which was part of the client. We worked using waterfall methodologies, following a linear and structured process to complete each project phase before moving on to the next.

Before developing the ERP, I worked as a freelancer, carrying out web development for some SMEs. In these projects, I used languages and technologies like JavaScript, PHP, and frameworks such as Bootstrap and React, creating customized and functional solutions.
					</p>
					<p>
						<br>
						Currently, I am learning English and continuing with web development. Additionally, I am practicing with technologies such as C# and Python to further improve my skills and stay updated.

I am excited about continuing to grow, learn, and contribute to ongoing progress in the field of technology and development.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<ul>
						<li>Problem-Solving Attitude</li>
						<li>Agile and Waterfall Methodologies</li>
						<li>Creative</li>
						<li>Good English</li>
						<li>Detail-Oriented</li>
						<li>Quick Adaptation</li>
					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
