---
import BaseLayout from '../../layouts/BaseLayout.astro';

import ContactCTA from '../../components/ContactCTA.astro';
import Hero from '../../components/Hero.astro';
import ChatBot from '../../components/ChatBot.astro';

const brand2 = "}"
const brand = "{"
---

<BaseLayout title="How i can help you | Busch Franco" description="Meet Franco Busch, a software and web developer from Buenos Aires with experience in Dynamics 365, PHP, JavaScript, and more. Discover my background, skills, and passion for technology">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Get to know me"
				tagline="I’d love to tell you about me and how I can help you."
			>
				<img
					width="1553"
					height="873"
					src="/assets/about.webp"
					alt="Image about developer"
				/>
			</Hero>
			<ChatBot/>
			<section>
				<h5 class="section-title">What I Do</h5>
				<div class="content">
					<p>
						At <a href="/">buschfranco.com</a>, I specialize in developing websites for small and medium-sized enterprises (SMEs) and students who want to present their projects in a modern and attractive way. In my work, I apply best practices in digital marketing with a focus on preserving the unique identity and voice of each brand or project, ensuring authenticity and concrete results.
					</p>
				</div>
			</section>
			
			<section>
				<h5 class="section-title">Who I Do It For</h5>
				<div class="content">
					<p>My mission is to offer personalized solutions that fit the specific needs of small and medium-sized enterprises (SMEs) and students who want to stand out in an increasingly competitive digital world.</p>
				</div>
			</section>
			
			<section>
				<h5 class="section-title">For SMEs</h5>
				<div class="content">
					<p>
						I understand that SMEs face the challenge of competing with large corporations while maintaining their essence and connection with their customers. That's why I focus on creating websites that reflect the authenticity and values of each business, helping them strengthen their online presence without losing their identity. My developments are designed to improve your business's visibility, attract your target audience, and increase your sales, always respecting the resources and size of each company. By prioritizing <a href="/en/work">maximizing the benefits of your website</a>, I help you achieve an effective and up-to-date online presence.
					</p>
				</div>
			</section>
			
			<section>
				<h5 class="section-title">For Students</h5>
				<div class="content">
					<p>
						I understand that students need platforms that allow them to showcase their projects in a professional and appealing manner, whether it's to achieve a better grade, present to potential employers, as part of an assignment, or to share their ideas with the world. I am dedicated to providing them with a space that conveys their creativity and effort while incorporating best practices in design and functionality. Check out my <a href="/en/curriculum#certificate-title">certifications in programming and digital marketing</a> to see how my experience can help make your projects stand out in the academic and professional arena.
					</p>
				</div>
			</section>
			
			
			
		</main>

		<div class="site-title">
			<img class="iconimg" src="/logo.webp" alt="">
			<p><span class="pink">{brand}</span>buschfranco.com<span class="pink">{brand2}</span></p>
		</div>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-decoration-color: currentColor;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}

	.site-title {
		display: flex;
		gap: 0.5rem;
		align-items: center;
		justify-content: center;
		color: var(--gray-0);
		margin: auto;
		font-size: 1.5rem;
		font-family: var(--font-brand);
		font-weight: 500;
	}.iconimg{
		width: 2.5rem;
		margin-top: 0;
		box-shadow: none;
		border-radius: 0;
	}.pink{
		color: #c561f6;
	}
</style>
