---
import BaseLayout from '../../layouts/BaseLayout.astro';

import ContactCTA from '../../components/ContactCTA.astro';
import Hero from '../../components/Hero.astro';
import ChatBot from '../../components/ChatBot.astro';
---

<BaseLayout title="How i can help you | Busch Franco" description="Meet Franco Busch, a software and web developer from Buenos Aires with experience in Dynamics 365, PHP, JavaScript, and more. Discover my background, skills, and passion for technology">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Get to know me"
				tagline="I’d love to tell you how I can help you."
			>
				<img
					width="1553"
					height="873"
					src="/assets/about.webp"
					alt="Image about developer"
				/>
			</Hero>
			<ChatBot/>
			<section>
				<h5 class="section-title">What do we do?</h5>
				<div class="content">
					<p>
						At <a href="/en">buschfranco.com</a>, we specialize in developing websites for small and medium-sized businesses (SMBs) and students looking to present their projects in a modern and attractive way. In our developments, we apply the best digital marketing practices with a focus on preserving the unique identity and voice of each brand or project, ensuring authenticity and tangible results.
					</p>
				</div>
			</section>
			<section>
				<h5 class="section-title">Who do we do it for?</h5>
				<div class="content">
					<p>Our mission is to offer personalized solutions that cater to the specific needs of small and medium-sized businesses (SMBs) and students who want to stand out in an increasingly competitive digital world.</p>
				</div>
			</section>
			<section>
				<h5 class="section-title">For SMBs</h5>
				<div class="content">
					<p>We understand that SMBs face the challenge of competing with large corporations while maintaining their essence and connection with customers. That's why we focus on creating websites that reflect the authenticity and values of each company, helping them strengthen their online presence without losing their identity. Our developments are designed to improve your business's visibility, attract your target audience, and increase sales, always respecting the resources and size of each company. We integrate digital marketing strategies and personalized designs, ensuring your website is not only functional and modern but also an extension of your brand's personality.</p>
				</div>
			</section>
			<section>
				<h5 class="section-title">For students</h5>
				<div class="content">
					<p>We understand that students need platforms that allow them to present their projects in a professional and attractive way, whether it's to achieve a better grade, present themselves to potential employers, as part of their work, or share their ideas with the world. We specialize in providing them with a space that conveys their creativity and effort, while incorporating the best practices of design and functionality. This way, your projects will not only be well-presented but will also serve as a unique representation of your work and ideas, helping you stand out in the academic and professional fields.</p>
				</div>
			</section>
			
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
