---
import Hero from '../../components/Hero.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import ChatBot from '../../components/ChatBot.astro';
import TechGrid from '../../components/TechGrid.jsx';
---

<BaseLayout title="Resume Online | Busch Franco" description="Download the resume of Franco Busch, a web and software developer from Buenos Aires with extensive experience in designing and developing websites, mobile applications, and custom business solutions. With expertise in technologies like PHP, JavaScript, and Dynamics 365, Franco offers comprehensive services as a full stack developer. Discover how his background and skills can contribute to the success of your next project.">
	<Hero title="Curriculum Online" tagline="Explore my background and technical skills." />
    <ChatBot/>
    <iframe id="cv" src="/assets/BuschFrancoCV.pdf">
        This browser does not support PDF viewing.

    </iframe>
    <a download="CV-BuschFranco" href="/assets/BuschFrancoCV.pdf"><span class="but">Download Resume <i class="fi fi-br-download"></i></span></a>

    <div class="techHead">
        <h3>Technologies used</h3>
        <TechGrid client:load/>
    </div>
    
</BaseLayout>

<style>     
    #cv {
            display: block;
            margin: auto;
            width: 100%;
            max-width: 700px;
            height: 80vh;
            border: none;
            margin-top: 2rem;
        }

        @media (min-width: 768px) {
            #cv {
                width: 80%;
                height: 800px;
            }
        }

    a{
        display: flex;
        margin: auto;
        margin-top: 2rem;

        text-decoration: none;
    }

    .but {
		display: flex;
		padding: 0.5rem 1rem;
		gap: 0.5rem;
		color: var(--accent-text-over);
		border: 1px solid var(--accent-regular);
		background-color: var(--accent-regular);
		border-radius: 999rem;
		font-size: var(--text-md);
		line-height: 1.35;
		white-space: nowrap;

		font-weight: 600;

		background-image: linear-gradient(0deg,#7611a6,#c561f6,#7611a6,#c561f6);
        background-size: 100% 300%;
        animation: animateBg 7s infinite;

		transition: 0.3s;
	}.but:hover{
		box-shadow: -5px 5px 0px rgb(255, 255, 255);
        transform: translate(5px, -5px);
	}

    .techHead{
		
		text-align: center;
        margin: auto;

        width: 80vw;
	}.techHead h3{
        margin-top: 3rem;
		margin-bottom: 2rem;
	}
    
</style>