---
import Hero from '../../components/Hero.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import ChatBot from '../../components/ChatBot.astro';
import TechGrid from '../../components/TechGrid.jsx';
import Certificados from '../../components/Certificados.jsx';

import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout title="Resume Online | Busch Franco" description="Download the resume of Franco Busch, a web and software developer from Buenos Aires with extensive experience in designing and developing websites, mobile applications, and custom business solutions. With expertise in technologies like PHP, JavaScript, and Dynamics 365, Franco offers comprehensive services as a full stack developer. Discover how his background and skills can contribute to the success of your next project.">
	<Hero title="Curriculum Online" tagline="Explore my background and technical skills." />
    <ChatBot/>
    <iframe id="cv" src="/assets/BuschFrancoCV.pdf">
        This browser does not support PDF viewing.

    </iframe>
    <a download="CV-BuschFranco" href="/assets/BuschFrancoCV.pdf"><span class="but">Download Resume <i class="fi fi-br-download"></i></span></a>


    <section id="section-me">
        <h2 class="section-title">About</h2>
        <div class="content">
            <p>
                My name is Franco Busch, originally from Buenos Aires, Argentina. My professional focus is on web development, programming, and new technologies.
Since childhood, I have had an affinity for computing, recognizing it as an essential gateway to the job market and global development.
            </p>
            <p>
                <br>
                I worked as a software developer, where I participated in the creation of a financial management ERP application using Microsoft Dynamics 365, with languages like X++ and C#, among others. I was part of a development team that closely collaborated with a testing team in Brazil, which was part of the client. We worked using waterfall methodologies, following a linear and structured process to complete each project phase before moving to the next.

Before developing the ERP, I worked as a freelance web developer for several small businesses. In these projects, I used languages and technologies like JavaScript, PHP, and frameworks such as Bootstrap and React, creating custom and functional solutions.
            </p>
        </div>
    </section>

    <div>
        <h3 class="certificate-title">{t("certificates.title")}</h3>
        <Certificados client:load/>
    </div>

    <div class="techHead">
        <h3>Technologies used</h3>
        <TechGrid client:load/>
    </div>
    
</BaseLayout>

<style>    

.certificate-title{
        text-align: center;
        margin-top: 2rem;
    }
    #cv {
            display: block;
            margin: auto;
            width: 100%;
            max-width: 700px;
            height: 80vh;
            border: none;
            margin-top: 2rem;
        }

        @media (min-width: 768px) {
            #cv {
                width: 80%;
                height: 800px;
            }
        }

    a{
        display: flex;
        margin: auto;
        margin-top: 2rem;

        text-decoration: none;
    }

    .but {
		display: flex;
		padding: 0.5rem 1rem;
		gap: 0.5rem;
		color: var(--accent-text-over);
		border: 1px solid var(--accent-regular);
		background-color: var(--accent-regular);
		border-radius: 999rem;
		font-size: var(--text-md);
		line-height: 1.35;
		white-space: nowrap;

		font-weight: 600;

		background-image: linear-gradient(0deg,#7611a6,#c561f6,#7611a6,#c561f6);
        background-size: 100% 300%;
        animation: animateBg 7s infinite;

		transition: 0.3s;
	}.but:hover{
		box-shadow: -5px 5px 0px rgb(255, 255, 255);
        transform: translate(5px, -5px);
	}

    .techHead{
		
		text-align: center;
        margin: auto;

        width: 80vw;
	}.techHead h3{
        margin-top: 3rem;
		margin-bottom: 2rem;
	}

    #section-me{
        width: 80%;
        margin: auto;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }.section-title{
        padding-bottom: 2rem;
    }
    
</style>