---
import { getCollection } from 'astro:content';
import TechGrid from '../../components/TechGrid.astro';

import BaseLayout from '../../layouts/BaseLayout.astro';

import ContactCTA from '../../components/ContactCTA.astro';
import PortfolioPreview from '../../components/PortfolioPreview.astro';
import Hero from '../../components/Hero.astro';
import Grid from '../../components/Grid.astro';

const projects = (await getCollection('work'))
	.sort((a, b) =>  a.data.publishDate.valueOf() - b.data.publishDate.valueOf())
	.slice(0, 4);
---

<BaseLayout
	title="My Work | Busch Franco"
	description="Discover the projects of Franco Busch, a developer with extensive experience in web and software solutions. From applications in Dynamics 365 to websites in PHP and JavaScript, each work reflects quality and commitment."
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Featured Works"
				tagline="Some of my featured works to get an idea of my skills."
				align="start"
			/>
			<a target="_blank" href="https://github.com/BuschFranco/portafolio"><h5>Repository of this portfolio (Developed with Astro 🚀)</h5></a>
			
			<Grid variant="offset">
				{
					projects.map((project) => (
						<li>
							<PortfolioPreview project={project} />
						</li>
					))
				}
			</Grid>
			<header class="techHead stack gap-2 lg:gap-4">
				<h3>Technologies used</h3>
				<TechGrid/>
			</header>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.techHead{
		margin-top: 2rem;
		text-align: center;
	}
</style>
