---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import ChatBot from '../components/ChatBot.astro';
---

<BaseLayout title="Conóceme | Busch Franco" description="Descubre a Franco Busch, un desarrollador web y de software en Buenos Aires, especializado en el desarrollo de páginas web y aplicaciones para empresas y pymes. A través de mi agencia de desarrollo web, ofrezco soluciones personalizadas utilizando tecnologías como Dynamics 365, PHP y JavaScript. Con una sólida trayectoria como desarrollador full stack, mi pasión por el diseño y la creación de sitios web me permite brindar servicios completos para quienes buscan comprar una página web o desarrollar aplicaciones a medida.">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Conóceme"
				tagline="Me encantaría contarte cómo puedo ayudarte."
			>
				<img
					width="1553"
					height="873"
					src="/assets/about.webp"
					alt="Imagen del desarrollador"
				/>
			</Hero>
			<ChatBot/>
			<section>
				<h5 class="section-title">Qué es lo que hago?</h5>
				<div class="content">
					<p>
						En <a href="/">buschfranco.com</a>, me especializo en el desarrollo de sitios web para pymes y estudiantes que buscan presentar sus proyectos de manera moderna y atractiva. En mis desarrollos aplico las mejores prácticas de marketing digital con un enfoque en preservar la identidad y voz única de cada marca o proyecto, garantizando autenticidad y resultados concretos.
					</p>
				</div>
			</section>
			<section>
				<h5 class="section-title">Para quienes lo hago?</h5>
				<div class="content">
					<p>mi misión es ofrecer soluciones personalizadas que se ajusten a las necesidades específicas de pequeñas y medianas empresas (o pymes) y estudiantes que desean destacar en un mundo digital cada vez más competitivo.</p>
				</div>
			</section>
			<section>
				<h5 class="section-title">Para las pymes</h5>
				<div class="content">
					<p>Sé que las pymes enfrentan el desafío de competir con grandes corporaciones mientras mantienen su esencia y conexión con sus clientes. Por eso, me enfoco en crear sitios web que reflejen la autenticidad y valores de cada empresa, ayudándoles a fortalecer su presencia en línea sin perder su identidad. Mis desarrollos están diseñados para mejorar la visibilidad de tu negocio, atraer a tu público objetivo y aumentar tus ventas, siempre respetando los recursos y el tamaño de cada empresa. Integramos estrategias de marketing digital y diseños personalizados, asegurando que tu sitio web no solo sea funcional y moderno, sino también una extensión de la personalidad de tu marca.</p>
				</div>
			</section>
			<section>
				<h5 class="section-title">Para los estudiantes</h5>
				<div class="content">
					<p>Entiendo que los estudiantes necesitan plataformas que les permitan exponer sus proyectos de manera profesional y atractiva, ya sea para obtener una mejor calificación, presentarse ante posibles empleadores, como parte de un trabajo o para compartir sus ideas con el mundo. Me dedico a brindarles un espacio que transmita su creatividad y esfuerzo, mientras incorporamos las mejores prácticas de diseño y funcionalidad. Así, tus proyectos no solo estarán bien presentados, sino que serán una representación única de tu trabajo e ideas, ayudándote a destacar en el ámbito académico y profesional.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
