---
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import Pill from '../components/Pill.astro';
---

<BaseLayout title="Curriculum Online | Busch Franco" description="404 Error — this page was not found">
	<Hero title="Curriculum Online" tagline="Explora mi trayectoria y habilidades técnicas" />

    <iframe id="cv" src="/assets/BuschFrancoCV.pdf">
        Este navegador no soporta la visualización de PDF.

    </iframe>
    <a download="CV-BuschFranco" href="/assets/BuschFrancoCV.pdf"><Pill>Descargar Curriculum</Pill></a>
</BaseLayout>

<style>     
    #cv {
            display: block;
            margin: auto;
            width: 100%;
            max-width: 700px;
            height: 80vh;
            border: none;
        }

        @media (min-width: 768px) {
            #cv {
                width: 80%;
                height: 800px;
            }
        }

    a{
        display: flex;
        margin: auto;
        margin-top: 2rem;
    }
    
</style>