---
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import Pill from '../components/Pill.astro';
---

<BaseLayout title="Curriculum Online | Busch Franco" description="Descarga el currículum de Franco Busch, un desarrollador web y de software en Buenos Aires con amplia experiencia en el diseño y desarrollo de páginas web, aplicaciones móviles, y soluciones empresariales a medida. Con conocimientos en tecnologías como PHP, JavaScript y Dynamics 365, Franco ofrece servicios completos como desarrollador full stack. Descubre cómo su trayectoria y habilidades pueden contribuir al éxito de tu próximo proyecto.">
	<Hero title="Curriculum Online" tagline="Explora mi trayectoria y habilidades técnicas" />

    <iframe id="cv" src="/assets/BuschFrancoCV.pdf">
        Este navegador no soporta la visualización de PDF.

    </iframe>
    <a download="CV-BuschFranco" href="/assets/BuschFrancoCV.pdf"><span class="but">Descargar Curriculum</span></a>
</BaseLayout>

<style>     
    #cv {
            display: block;
            margin: auto;
            width: 100%;
            max-width: 700px;
            height: 80vh;
            border: none;
        }

        @media (min-width: 768px) {
            #cv {
                width: 80%;
                height: 800px;
            }
        }

    a{
        display: flex;
        margin: auto;
        margin-top: 2rem;

        text-decoration: none;
    }

    .but {
		display: flex;
		padding: 0.5rem 1rem;
		gap: 0.5rem;
		color: var(--accent-text-over);
		border: 1px solid var(--accent-regular);
		background-color: var(--accent-regular);
		border-radius: 999rem;
		font-size: var(--text-md);
		line-height: 1.35;
		white-space: nowrap;

		font-weight: 600;

		background-image: linear-gradient(0deg,#7611a6,#c561f6,#7611a6,#c561f6);
        background-size: 100% 300%;
        animation: animateBg 7s infinite;

		transition: 0.3s;
	}.but:hover{
		box-shadow: -5px 5px 0px rgb(255, 255, 255);
        transform: translate(5px, -5px);
	}
    
</style>