---

---


<h2>Marketing Digital</h2>

<section class="benefits-container">
  <div class="step">
    <div class="imagen">
        <img src="/public/assets/benefits/google-ads.png" alt="">
    </div>

    <div>
     <h3>1. Planificación</h3>
     <p>
      Recolectamos la información esencial para definir objetivos, públicos y los 
      recursos necesarios para iniciar el proyecto.
     </p>
    </div>
  </div>
  <div class="step">

    <div>
     <h3>1. Planificación</h3>
     <p>
      Recolectamos la información esencial para definir objetivos, públicos y los 
      recursos necesarios para iniciar el proyecto.
     </p>
    </div>

    <div>
        <img src="/public/assets/benefits/google-ads.png" alt="">
    </div>

  </div>
  <div class="step">
    <div>
        <img src="/public/assets/benefits/google-ads.png" alt="">
    </div>
    <div>
     <h3>1. Planificación</h3>
     <p>
      Recolectamos la información esencial para definir objetivos, públicos y los 
      recursos necesarios para iniciar el proyecto.
     </p>
    </div>
  </div>
  <div class="step">

    <div>
     <h3>1. Planificación</h3>
     <p>
      Recolectamos la información esencial para definir objetivos, públicos y los 
      recursos necesarios para iniciar el proyecto.
     </p>
    </div>

    <div>
        <img src="/public/assets/benefits/google-ads.png" alt="">
    </div>

  </div>
</section>

<style>
    .step{
        display: grid;
        grid-template-columns: 1fr 1fr;;
        gap: 2rem;

        align-items: center;

        img{
        border-radius: 1.3rem;
        }
    }

    img{
        border-radius: 2rem;
    }

    .benefits-container{
        width: 65vw;
        margin: auto;
        margin-top: 2rem;
    }

    @media (max-width: 768px) {
    .benefits-container {
      width: 100vw;
    }

    .step {
      grid-template-columns: 1fr 1fr;
      text-align: center;
      gap: 1rem;

      h3{
        font-size: 1.5rem;
      }
    }

    .step img {
      max-width: 100%; /* Asegura que las imágenes se ajusten a la pantalla */
      margin-bottom: 1rem;
    }
  }
</style>
