---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import { db, user } from 'astro:db';

/*if(Astro.request.method === "POST"){
    const formData = await Astro.request.formData();
    const userName = formData.get('userName');
    const email = formData.get('email');
    const phonenumber = formData.get('phonenumber');
    const id = 2;

    console.log({userName, email, phonenumber});

}*/

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div id="conteinerContact">

    <div id="conteinerInfo">
        <div>
            <h5>{t("contact.cor")}</h5>
            <p>contacto@buschfranco.com</p>
        </div>
        <div>
            <h5>{t("contact.cel")}</h5>
            <p>(+54) 1131506458</p>
        </div>
        <div>
            <a href="https://www.linkedin.com/in/francobusch/" target="_blank"><h5>Linkedin/francobusch</h5></a>
        </div>
        <div>
            <p>Buenos Aires. Argentina.</p>
        </div>
        
    </div>

    <div id="conteinerForm">
        <form action="https://formspree.io/f/xdknkazv"
        method="POST">
            <div>
              <label for="nombre">{t("contact.na")}</label>
              <input type="text" name="userName" placeholder="Ej: Jonathan" required>
            </div>
            <div>
              <label for="email">Email</label>
              <input type="email" name="email" placeholder="Ej: email@gmail.com" required>
            </div>
            <div>
              <label for="tel">{t("contact.tel")}</label>
              <input type="tel" name="phonenumber" placeholder="Ej: (+54) 1131506458">
            </div>
            <div >
              <label for="mensaje">{t("contact.des")}</label>
              <textarea name="consulta" rows="3" required></textarea>
            </div>
            <button type="submit">{t("contact.send")}</button>
          </form>
    </div>

    
</div>

<style>
    #conteinerContact{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }#conteinerContact div{
        padding: 1rem;
        width: 50vh;
    }

    form{
        background-image: linear-gradient(0deg,#7611a6,#c561f6,#7611a6,#c561f6);
        background-size: 100% 300%;
        animation: animateBg 10s linear infinite;
        padding: 1.3rem;
        border-radius: 1rem;
        color: white;
        text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.514);

        box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.226);
    }
    label{
        display: block;
    }
    input, textarea{
        width: 80%;
        height: 2.2rem;

        border-radius: 0.4rem;
        border: solid 1px black;
        padding: 10px;
    }
    button{
        width: 20%;
        height: 1.8rem;

        border: none;
        border-radius: 0.3rem;
        background-color: white;

        color: #333;

        font-weight: bold;
        cursor: pointer;

        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.404);
        
    }

    @keyframes animateBg {
     0% { background-position: 0% 100%; }
    100% { background-position: 0% 0%; }
}
    
</style>
